In [1]:
# autoreload modules; useful for testing
# %load_ext autoreload
# %autoreload 2

In [2]:
import json
import copy
import pandas as pd
from toolz.dicttoolz import assoc_in, merge, dissoc
from dotenv import dotenv_values
from pymongo import MongoClient
from pymongo.database import Database as MongoDatabase
from nmdc_runtime.api.core.metadata import load_changesheet, update_mongo_db, mongo_update_command_for, copy_docs_in_update_cmd

### load mongodb via env info

In [3]:
config = dotenv_values("../../.env.localhost")
config["MONGO_HOST"]

'mongodb://localhost:27018'

In [4]:
client = MongoClient(host=config["MONGO_HOST"], username=config["MONGO_USERNAME"], password=config["MONGO_PASSWORD"])
mongodb = client["nmdc_etl_staging"]

### creat temp database and temp_set collection for testing

In [5]:
if "temp_db" in client.list_database_names():
    client.drop_database("temp_db")
temp_db = client["temp_db"]

### helper functons

In [6]:
# wraps the mongo_update_command_for and update_mongo_db into
# a single function to process the change sheet
def process_changesheet(changeDf, mdb: MongoDatabase, temp_db: MongoDatabase):
    update_cmd = mongo_update_command_for(changeDf)
    copy_docs_in_update_cmd(update_cmd, mdb, temp_db)
    return update_mongo_db(temp_db, update_cmd)

In [7]:
# puts the change sheet results in dataframe
def print_results(results):
    for i, result in enumerate(results):
        print(f"\n============== {result['id']} ==============")
        print("------------------ BEFORE ------------------")
        print(json.dumps(result["doc_before"], indent=2))
        print("------------------ AFTER ------------------")
        print(json.dumps(result["doc_after"], indent=2))
        print("------------------ ERRORS ------------------")
        print("\n".join(result["validation_errors"]))

### set dataframe display options

In [8]:
pd.set_option("display.max_columns", None)
pd.set_option('display.width', 1000)

### process change sheet

In [9]:
pd.read_csv("data/changesheet-without-separator3.tsv", sep="\t", dtype="string").fillna('')

                id  action                attribute                       value
0   gold:Gs0114663  update                     name            NEW STUDY NAME 1
1                   update                ecosystem             NEW ECOSYSTEM 1
2                   update           ecosystem_type        NEW ECOSYSTEM_TYPE 1
3                   update        ecosystem_subtype     NEW ECOSYSTEM_SUBTYPE 1
4                   update                      doi                          v1
5               v1  update            has_raw_value                   NEW DOI 1
6                   update   principal_investigator                          v2
7               v2                             name               NEW PI NAME 1
8               v2                    has_raw_value              NEW RAW NAME 1
9                   update              description           NEW DESCRIPTION 1
10                  update                 websites    HTTP://TEST1.EXAMPLE.COM
11                  update                 websites    HTTP://TEST2.EXAMPLE.COM
12                  update  has_credit_associations                          v3
13              v3                     applied_role       NEW CO-INVESTIGATOR 1
14              v3           applies_to_person.name  NEW CO-INVESTIGATOR NAME 1
15                  update  has_credit_associations                          v4
16              v4                     applied_role               NEW CURATOR 1
17              v4           applies_to_person.name          NEW CURATOR NAME 1
18  gold:Gs0103573  update                     name            NEW STUDY NAME 2
19                  update                ecosystem             NEW ECOSYSTEM 2
20                  update           ecosystem_type        NEW ECOSYSTEM_TYPE 2
21                  update        ecosystem_subtype     NEW ECOSYSTEM_SUBTYPE 2
22                  update                      doi                          v1
23              v1  update            has_raw_value                   NEW DOI 2
24                  update   principal_investigator                          v2
25              v2                             name               NEW PI NAME 2
26              v2                    has_raw_value              NEW RAW NAME 2
27                  update              description           NEW DESCRIPTION 2
28                  update                 websites    HTTP://TEST3.EXAMPLE.COM
29                  update                 websites    HTTP://TEST4.EXAMPLE.COM
30                  update  has_credit_associations                          v3
31              v3                     applied_role       NEW CO-INVESTIGATOR 2
32              v3           applies_to_person.name  NEW CO-INVESTIGATOR NAME 2
33                  update  has_credit_associations                          v4
34              v4                     applied_role               NEW CURATOR 2
35              v4           applies_to_person.name          NEW CURATOR NAME 2

In [10]:
sheetDf = load_changesheet('data/changesheet-without-separator3.tsv', mongodb)
# sheetDf

### update mongodb using change sheet

In [11]:
print_results(process_changesheet(sheetDf, mongodb, temp_db))

============== gold:Gs0103573 ==============
------------------ BEFORE ------------------
{
  "id": "gold:Gs0103573",
  "name": "Populus root and rhizosphere microbial communities from Tennessee, USA",
  "description": "Defining the functional diversity of the Populus root microbiome",
  "ecosystem": "Host-associated",
  "ecosystem_category": "Plants",
  "ecosystem_type": "Unclassified",
  "ecosystem_subtype": "Unclassified",
  "specific_ecosystem": "Unclassified",
  "principal_investigator": {
    "has_raw_value": "Dale Pelletier"
  },
  "type": "nmdc:Study"
}
------------------ AFTER ------------------
{
  "id": "gold:Gs0103573",
  "name": "NEW STUDY NAME 2",
  "description": "NEW DESCRIPTION 2",
  "ecosystem": "NEW ECOSYSTEM 2",
  "ecosystem_category": "Plants",
  "ecosystem_type": "NEW ECOSYSTEM_TYPE 2",
  "ecosystem_subtype": "NEW ECOSYSTEM_SUBTYPE 2",
  "specific_ecosystem": "Unclassified",
  "principal_investigator": {
    "has_raw_value": "NEW RAW NAME 2",
    "name": "NEW PI NAME 2"
  },
  "type": "nmdc:Study",
  "websites": [
    "HTTP://TEST3.EXAMPLE.COM",
    "HTTP://TEST4.EXAMPLE.COM"
  ],
  "doi": {
    "has_raw_value": "NEW DOI 2"
  },
  "has_credit_associations": [
    {
      "applied_role": "NEW CO-INVESTIGATOR 2",
      "applies_to_person": {
        "name": "NEW CO-INVESTIGATOR NAME 2"
      }
    },
    {
      "applied_role": "NEW CURATOR 2",
      "applies_to_person": {
        "name": "NEW CURATOR NAME 2"
      }
    }
  ]
}
------------------ ERRORS ------------------
Additional properties are not allowed ('test.study_set' was unexpected)

============== gold:Gs0114663 ==============
------------------ BEFORE ------------------
{
  "id": "gold:Gs0114663",
  "name": "Riverbed sediment microbial communities from the Columbia River, Washington, USA",
  "description": "A metagenomic study to couple microbial communities to carbon and contaminant biogeochemistry in the groundwater-surface water interaction zone (hyporheic zone).",
  "ecosystem": "Environmental",
  "ecosystem_category": "Aquatic",
  "ecosystem_type": "Freshwater",
  "ecosystem_subtype": "River",
  "specific_ecosystem": "Sediment",
  "principal_investigator": {
    "has_raw_value": "James Stegen"
  },
  "doi": {
    "has_raw_value": "10.25585/1487765"
  },
  "type": "nmdc:Study"
}
------------------ AFTER ------------------
{
  "id": "gold:Gs0114663",
  "name": "NEW STUDY NAME 1",
  "description": "NEW DESCRIPTION 1",
  "ecosystem": "NEW ECOSYSTEM 1",
  "ecosystem_category": "Aquatic",
  "ecosystem_type": "NEW ECOSYSTEM_TYPE 1",
  "ecosystem_subtype": "NEW ECOSYSTEM_SUBTYPE 1",
  "specific_ecosystem": "Sediment",
  "principal_investigator": {
    "has_raw_value": "NEW RAW NAME 1",
    "name": "NEW PI NAME 1"
  },
  "doi": {
    "has_raw_value": "NEW DOI 1"
  },
  "type": "nmdc:Study",
  "websites": [
    "HTTP://TEST1.EXAMPLE.COM",
    "HTTP://TEST2.EXAMPLE.COM"
  ],
  "has_credit_associations": [
    {
      "applied_role": "NEW CO-INVESTIGATOR 1",
      "applies_to_person": {
        "name": "NEW CO-INVESTIGATOR NAME 1"
      }
    },
    {
      "applied_role": "NEW CURATOR 1",
      "applies_to_person": {
        "name": "NEW CURATOR NAME 1"
      }
    }
  ]
}
------------------ ERRORS ------------------
Additional properties are not allowed ('test.study_set' was unexpected)